.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.footer {
  background-color: var(--charcoal);
}

.footer-btn {
  color: #fff;
  font-size: 3rem;
}

.footer-btn:hover {
  cursor: pointer;
  color: #adc4f1;
  transition: 0.5s ease-in-out;
}