.navbar {
  border-bottom: 2px dashed var(--cambridgeBlue) !important;
  margin-bottom: 1rem !important;
  width: 100%;
}

.nav {
  /* margin-left: 3rem; */
  justify-content: left;
}

.nav-link.active {
  background-color: #86a1d8 !important;
  color: #fff !important;
  border-bottom-style: none !important;
  height: 130%;
  transition: 0.3s ease-in-out !important;
}

.nav-link {
  color: #ffffff !important;
  background-color: #6883BA !important;
  border: 1px solid #6883BA !important;
  border-bottom: none;
  font-family: 'Libre Bodoni', serif;
  transition: 0.3s ease-in-out !important;
  margin-right: 0.2rem;
}

.nav-link:hover {
  color: #e2ecff !important;
}

.nav-link.active:hover {
  color: #e2ecff !important;
}

.nav-item {
  text-align: center;
  width: 240px;
}

.nav-responsive {
  font-size: 7vw;
}

@media (max-width: 946px) {
  .nav-responsive {
    font-size: 80px;
  }

  .nav {
    margin-bottom: 1rems;
  }
}

@media (max-width: 745px) {
  .nav {
    margin-bottom: 1rems;
    justify-content: center;
  }
}

@media (max-width: 468px) {
  .nav-responsive {
    display: none;
  }

  .nav {
    justify-content: center;
  }
}