@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,500&display=swap');

:root {
  --oxfordBlue: #e0e5fd;
  --charcoal: #6883BA;
  --cambridgeBlue: #3D3B8E;
  --olivine: #BA324F;
  --teaGreen: #D62839;
}

body {
  background-color: var(--oxfordBlue) !important;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal
}

p {
  border-radius: 10px;
}

h1 {
  font-family: 'Libre Bodoni', serif;
}

/* styles the name in the navbar */
.name {
  font-size: 8rem !important;
  color: var(--cambridgeBlue);
}

.title {
  font-size: 4.3rem !important;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 0.1px;
  margin-bottom: 1rem !important;
  font-style: italic;
}

.content-container {
  min-height: calc(100vh - 34px);
}

.card {
  background-color: #ecefff !important;
}

.btn-contact {
  background-color: #FFBC42 !important;
  color: #000 !important;
  font-weight: bold;
}